@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Baloo+Bhai');

html, body, #root {
  width: 100%;
  height: 100%;
}
#root {
  background-color: #eee;
}
.welcome-form-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.welcome-form-wrap img {
  width: 70%;
  max-width: 500px;
}
.welcome-titles {
  margin-top: 30px;
}
.welcome-titles h4 {
  margin-left: 100px;
}
.welcome-titles h1 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
}
.welcome-form {
  margin-top: 50px;
  width: 90%;
  max-width: 400px;
}
.welcome-form h3 {
  text-align: center;
  font-family: 'Baloo Bhai', cursive;
}
.welcome-buttons {
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.welcome-buttons button {
  margin-left: 10px;
  margin-right: 10px;
}
.welcome-warning {
  color: red;
  text-align: center;
}